
@{
    ViewBag.Title = "CrashReport";
}

 <br />
<h2>Crash Report</h2>
   

<div class="container-fluid">
    <div class="row justify-content-center">
        <h4>Crashes Over Time</h4>
    </div>
    <div class="row justify-content-center">
        <img src="/Home/GetCrashesByTimeChart" />  
    </div>
</div>
<br />
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h4>Crashes by Type</h4>
        <img src="/Home/GetCrashesByTypeChart" />
      </div>
      <div class="col-md-4">
        <h4>Crashes by Device Model</h4>
        <img src="/Home/GetCrashesByDeviceTypeChart" />
      </div>
      <div class="col-md-4">
        <h4>Heading</h4>
        <img src="~/Content/Images/crashes2.png" />
      </div>
    </div>

   

  </div>

