
@{
    ViewBag.Title = "CrashReport";
}

 <br />
<h2>Crash Report</h2>
   

<div class="container-fluid">
    <div class="row justify-content-center">
        <h2>Crashes Over Time</h2>
    </div>
    <div class="row justify-content-center">
        <img src="/Home/GetCrashesByTimeChart" />  
    </div>
</div>

  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h3>Crashes by Type</h3>
        <img src="/Home/GetCrashesByTypeChart" />
      </div>
      <div class="col-md-4">
        <h3>Crashes by Device Model</h3>
        <img src="/Home/GetCrashesByDeviceTypeChart" />
      </div>
      <div class="col-md-4">
        <h3>Heading</h3>
        <img src="~/Content/Images/crashes2.png" />
      </div>
    </div>

   

  </div>

