
@{
    ViewBag.Title = "CrashReport";
}

    <div class="row">
        <h2>CrashReport</h2>
    </div>

    <div class="row">
        <div class="col">
            <img src="~/Content/Images/crashes1.png" />
        </div>

        <div class="col">
            <img src="~/Content/Images/crashes2.png" />
        </div>
    </div>
   

