@model JaunDetect.Models.CustomQueryViewModel

@{
    ViewBag.Title = "Custom Query Tool";
}

<h3>@ViewBag.Message</h3>

<div class=" container">
    @using (Html.BeginForm("CustomQuery", "Home", FormMethod.Post))
    {
        <div class="row">
            <h5> Clinic Name </h5>
            <input type="text" id="name" value="">
        </div>

        <div class="row">
            <h5> Province </h5>
            <input type="text" id="province" value="">
        </div>

        <div class="row">
            <h5> Start Time </h5>
            <input type="text" id="startTime" value="">
        </div>

        <div class="row">
            <h5> End Time </h5>
            <input type="text" id="endTime" value="">
        </div>

        <div class="row">
            <h5> Device Info </h5>
            <input type="text" id="device" value="">
        </div>
            <button onclick="myFunction()">Submit</button>

        <p id="data">abc</p>
    }
    <script>
        function myFunction() {
            var name = document.getElementById("name").value;
            var province = document.getElementById("province").value;
            var startDate = document.getElementById("startDate").value;
            var endDate = document.getElementById("endDate").value;
            var device = document.getElementById("device").value;
            document.getElementById("data").innerHTML = device;
           

        }
    </script>
</div>

<div class=" container">
    <div class="border border-dark rounded">
        <table>
            <thead>
                <tr>
                    <th scope="col">Query Results</th>

                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>

