
@{
    ViewBag.Title = "Custom Query Tool";
}

<h3>@ViewBag.Message</h3>

<div class="row">
    <style>
        input[type=text] {
            width: 100%;
            padding: 12px 20px;
            margin: 8px 0;
            box-sizing: border-box;
        }
    </style>

    <form>
        <label for="clinic">Clinic Name</label>
        <input type="text">
    </form>
</div>

<div class="row">
    <style>
        input[type=text] {
            width: 100%;
            padding: 12px 20px;
            margin: 8px 0;
            box-sizing: border-box;
        }
    </style>

    <form>
        <label for="province">Clinic Province</label>
        <input type="text">
    </form>
</div>

<div class="row">
    <style>
        input[type=text] {
            width: 100%;
            padding: 12px 20px;
            margin: 8px 0;
            box-sizing: border-box;
        }
    </style>

    <form>
        <label for="startDate">Start Date</label>
        <input type="text">
    </form>
</div>

<div class="row">
    <style>
        input[type=text] {
            width: 100%;
            padding: 12px 20px;
            margin: 8px 0;
            box-sizing: border-box;
        }
    </style>

    <form>
        <label for="endDate">End Date</label>
        <input type="text">
    </form>
</div>

<div class="row">
    <style>
        input[type=text] {
            width: 100%;
            padding: 12px 20px;
            margin: 8px 0;
            box-sizing: border-box;
        }
    </style>

    <form>
        <label for="deviceInfo">Device Info</label>
        <input type="text">
    </form>
</div>

<div class="col">
    <img src="~/Content/Images/customquery2.png" />
</div>

