
@{
    ViewBag.Title = "CustomQuery";
}

<div class="row">
    <h2>Custom Query Tool</h2>
</div>

<div class="row">
    <div class="col">
        <img src="~/Content/Images/customquery1.png" />
    </div>

    <div class="col">
        <img src="~/Content/Images/customquery2.png" />
    </div>
</div>
