@using JaunDetect.Models;
@model QueryViewModel

@{
    ViewBag.Title = "Query";
}

<h3>@ViewBag.Message</h3>

<div class=" container">
    <div class="row">

        <div class="row">
            <div>
                <p>Clinic:</p>
                @using (Html.BeginForm("Clinic", "Home", FormMethod.Post))
                {
                    @Html.TextBoxFor(model => model.Clinic)
                    <button type="submit">Submit</button>
                }
            </div>
            <br />
            <div class="border border-dark rounded">
                <table>
                    <thead>
                        <tr>
                            <th scope="col">Clinic</th>

                        </tr>
                    </thead>
                    <tbody>

                        <tr>
                            if (2 < 3) {
                            <td>@model.Clinic</td>                            
                            }
                    </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

</div>