@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">:
    <h1>Welcome To JaunDetect</h1>
    <p class="lead">JaunDetect: A Telemetry Solution for a Low-Cost Jaundice Prevention Application</p>
    <p>Team Awesome: Mihai, Laura, and Onur</p>
</div>

<div class="row">
    <div class="col">
        <img src="~/Content/Images/heatmap2.jpg" />
    </div>

    <div class="col">
        @{
            List<SelectListItem> listItems = new List<SelectListItem>();
            listItems.Add(new SelectListItem
            {
                Text = "Months",
                Value = "0"
            });
            listItems.Add(new SelectListItem
            {
                Text = "Weeks",
                Value = "1",
                Selected = true
            });
            listItems.Add(new SelectListItem
            {
                Text = "Years",
                Value = "2"
            });
        }

        @Html.DropDownList("ddlTimeframe", listItems);
        <img src="/Home/GetBilirubinLevelChart" />
    </div>
</div>
