@using JaunDetect.Models;
@using Newtonsoft.Json;
@model HomeChartModel
@{
    ViewBag.Title = "Home Page";
}

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.min.js" type="text/javascript"></script>
<script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>

<body style="background-color: #23206B">
    <div class="text-light">
        <div class="text-center row my-3" style="background-color:#03012C;">
            <div class="col-md-5 p-1 mx-auto my-5 no-gutters">
                <h1 class="display-4 font-weight-normal">Welcome to <img src="~/Content/Images/logo large.png" style=" width: 70%" /></h1>
                <div class="row pt-2">
                    <div class="col">
                        <h6 class="display">Seattle, Washington</h6>
                        <p class="font-weight-normal">@DateTime.Now.ToString("MM/dd/yyyy h:mm tt")</p>
                    </div>
                    <div class="col">
                        <h6 class="display">Lagos, Nigeria</h6>
                        <p class="font-weight-normal">@DateTime.Now.AddHours(8).ToString("MM/dd/yyyy h:mm tt")</p>
                    </div>
                </div>
            </div>
            <div class="product-device box-shadow d-none d-md-block"></div>
            <div class="product-device product-device-2 box-shadow d-none d-md-block"></div>
        </div>

        <div class="row text-center py-4 my-3" style="background-color:#070342;">
            <div class="col">
                <div class="row mx-auto">
                    <div class="col">
                        <h2 class="display-5 text-center">Bilirubin Concentration Data by Clinic</h2>
                        <br />
                    </div>
                </div>

                <div class="row">
                    <div class="col ml-3">
                        <!--<h2 class="text-center display-5">Map of Bilirubin Concentrations</h2>-->
                        <img src="~/Content/Images/widemap.jpg" class="img-fluid rounded" alt="Responsive image" style="object-fit: none; object-position: center;" />
                    </div>

                    <div class="col-3 text-center">
                        <!--<h2 class="text-center display-5">Bilirubin Concentrations (%) per Clinic</h2>-->

                        <div class="container" style="height:400px;">
                            <canvas class="mx-auto" id="myChart"></canvas>
                        </div>
                        

                        <div class="text-center mt-2">
                            @using (Html.BeginForm("UpdateHomeChartClinicOption", "Home", FormMethod.Post))
                            {
                                @Html.DropDownListFor(model => model.ClinicOptionString, Model.ClinicOptionsList, new { @class = "btn btn-light dropdown-toggle" });
                                <button id="Bili%ByClinic" class="btn btn-secondary" type="submit">Update</button>
                            }
                        </div>
                    </div>
                </div>
            </div>


        </div>

        <div class="row text-center py-4 my-3" style="background-color:#191570;">
            <div class="col">
                <h2 class="text-center display-5">Number of Tests Taken by each Clinic</h2>

                <!-- BAR CHART -->
                <canvas class="mx-auto" id="bigchart" style="max-width:90%; max-height:700px;"></canvas>

                <div class="text-center mt-2">
                    @using (Html.BeginForm("UpdateHomeChartTimeOption", "Home", FormMethod.Post))
                    {
                        @Html.DropDownListFor(model => model.TimeOptionString, Model.TimeOptionsList, new { @class = "btn btn-light dropdown-toggle" });
                        <button id="TestNumberByClinic" class="btn btn-secondary" type="submit">Update</button>
                    }
                </div>
            </div>
        </div>
    </div>
</body>

<script>
    // Bilirubin Concentrations (%) per Clinic chart
    $.ajax({
        type: "POST",
        url: "/Home/GetClinicBilirubinLevelChart",
        contentType: "application/json; charset=utf-8",
        dataType: "json",
        success: function (chData) {
            var aData = chData;
            var aLabels = aData[0];
            var aDatasets1 = aData[1];
            var dataT = {
                labels: aLabels,
                datasets: [{
                    label: "Reported cases at " + aData[2],
                    data: aDatasets1,
                    fill: false,
                    backgroundColor: ["rgba(112, 44, 231, 0.5)", "rgba(144, 44, 199, 0.5)", "rgba(176, 44, 167, 0.5)", "rgba(208, 44, 135, 0.5)", "rgba(240, 44, 103, 0.5)"],
                    borderColor: ["rgba(112, 44, 231)", "rgba(144, 44, 199)", "rgba(176, 44, 167)", "rgba(208, 44, 135)", "rgba(240, 44, 103)"],
                    borderWidth: 2
                }]
            };
            var ctx = $("#myChart").get(0).getContext("2d");
            var myNewChart = new Chart(ctx, {
                type: 'bar',
                data: dataT,
                options: {
                    responsive: true,
                    maintainAspectRatio: false,
                    title: { display: false, text: 'CHART.JS DEMO CHART' },
                    legend: { display: false, position: 'bottom' },
                    scales: {
                        xAxes: [{ gridLines: { display: false }, display: true, scaleLabel: { display: true, labelString: aData[2], fontSize: 18 }, ticks: { fontSize: 18 } }],
                        yAxes: [{ gridLines: { display: false }, display: true, scaleLabel: { display: false, labelString: '' }, ticks: { beginAtZero: true, fontSize: 13 } }]
                    },
                }
            });
        }
    });

    // Number of Tests Taken by each Clinic chart
    $.ajax({
        type: "POST",
        url: "/Home/GetTestNumbersForAllClinicsChart",
        contentType: "application/json; charset=utf-8",
        dataType: "json",
        success: function (chData) {
            var aData = chData;
            var aLabels = aData[0];
            var aDatasets1 = aData[1];
            var dataT = {
                labels: aLabels,
                datasets: [{
                    label: aData[2],
                    data: aDatasets1,
                    fill: false,
                    backgroundColor: ["rgba(255, 237, 161, 0.5)", "rgba(255, 237, 161, 0.5)", "rgba(255, 237, 161, 0.5)", "rgba(255, 237, 161, 0.5)", "rgba(255, 237, 161, 0.5)"],
                    borderColor: ["rgb(255, 237, 161)", "rgb(255, 237, 161)", "rgb(255, 237, 161)", "rgb(255, 237, 161)", "rgb(255, 237, 161)"],
                    borderWidth: 2
                },
                {
                    label: aData[5],
                    data: aData[4],
                    fill: false,
                    backgroundColor: ["rgba(255, 209, 139, 0.5)", "rgba(255, 209, 139, 0.5)", "rgba(255, 209, 139, 0.5)", "rgba(255, 209, 139, 0.5)", "rgba(255, 209, 139, 0.5)"],
                    borderColor: ["rgb(255, 209, 139)", "rgb(255, 209, 139)", "rgb(255, 209, 139)", "rgb(255, 209, 139)", "rgb(255, 209, 139)"],
                    borderWidth: 2
                },
                {
                    label: aData[8],
                    data: aData[7],
                    fill: false,
                    backgroundColor: ["rgba(255, 183, 109, 0.5)", "rgba(255, 183, 109, 0.5)", "rgba(255, 183, 109, 0.5)", "rgba(255, 183, 109, 0.5)", "rgba(255, 183, 109, 0.5)"],
                    borderColor: ["rgb(255, 159, 64)", "rgb(255, 159, 64)", "rgb(255, 159, 64)", "rgb(255, 159, 64)", "rgb(255, 159, 64)"],
                    borderWidth: 2
                },
                {
                    label: aData[11],
                    data: aData[10],
                    fill: false,
                    backgroundColor: ["rgba(255, 162, 100, 0.5)", "rgba(255, 162, 100, 0.5)", "rgba(255, 162, 100, 0.5)", "rgba(255, 162, 100, 0.5)", "rgba(255, 162, 100, 0.5)"],
                    borderColor: ["rgb(255, 162, 100)", "rgb(255, 162, 100)", "rgb(255, 162, 100)", "rgb(255, 162, 100)", "rgb(255, 162, 100)"],
                    borderWidth: 2
                },
                {
                    label: aData[14],
                    data: aData[13],
                    fill: false,
                    backgroundColor: ["rgba(255, 135, 95, 0.5)", "rgba(255, 135, 95, 0.5)", "rgba(255, 135, 95, 0.5)", "rgba(255, 135, 95, 0.5)", "rgba(255, 135, 95, 0.5)"],
                    borderColor: ["rgb(255, 135, 95)", "rgb(255, 135, 95)", "rgb(255, 135, 95)", "rgb(255, 135, 95)", "rgb(255, 135, 95)"],
                    borderWidth: 2
                }]
            };
            var ctx = $("#bigchart").get(0).getContext("2d");
            var myNewChart = new Chart(ctx, {
                type: 'bar',
                data: dataT,
                options: {
                    responsive: true,
                    title: { display: false, text: 'CHART.JS DEMO CHART' },
                    legend: {
                        display: true, position: 'bottom', labels: { fontSize: 18 }
                    },
                    scales: {
                        xAxes: [{ gridLines: { display: false }, display: true, scaleLabel: { display: true, labelString: '' }, ticks: { fontSize: 18 } }],
                        yAxes: [{ gridLines: { display: false }, display: true, scaleLabel: { display: false, labelString: '' }, ticks: { beginAtZero: true, fontSize: 15 } }]
                    },
                }
            });
        }
    });
</script>



