@using JaunDetect.Models;
@using Newtonsoft.Json;
@model HomeChartModel
@{
    ViewBag.Title = "Home Page";
}

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.min.js" type="text/javascript"></script>
<script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>

<body style="background-color: #23206B">
    <div class="text-light">
        <div class="text-center row my-3" style="background-color:#03012C;">
            <div class="col-md-5 p-1 mx-auto my-5 no-gutters">
                <h1 class="display-4 font-weight-normal">Welcome to <img src="~/Content/Images/logo large.png" style=" width: 70%" /></h1>
                <div class="row pt-2">
                    <div class="col">
                        <h6 class="display">Seattle, Washington</h6>
                        <p class="font-weight-normal">@DateTime.Now.ToString("MM/dd/yyyy h:mm tt")</p>
                    </div>
                    <div class="col">
                        <h6 class="display">Lagos, Nigeria</h6>
                        <p class="font-weight-normal">@DateTime.Now.AddHours(8).ToString("MM/dd/yyyy h:mm tt")</p>
                    </div>
                </div>
            </div>
            <div class="product-device box-shadow d-none d-md-block"></div>
            <div class="product-device product-device-2 box-shadow d-none d-md-block"></div>
        </div>

        <div class="row text-center py-4 my-3" style="background-color:#070342;">
            <div class="col">
                <div class="row mx-auto">
                    <div class="col">
                        <h2 class="display-5 text-center">Bilirubin Concentration Data by Clinic</h2>
                        <br />
                    </div>
                </div>



                <!-- This row shows up oddly on a 1440p monitor -->
                <div class="row">
                    <div class="col-7 mx-3">
                        <img src="~/Content/Images/widemap.jpg" class="img-fluid rounded" alt="Responsive image" />
                    </div>

                    <div class="col d-flex flex-column">
                        <!--<h2 class="text-center display-5">Bilirubin Concentrations (%) per Clinic</h2>-->

                        <div class="flex-grow-1">
                            <canvas id="myChart"></canvas>
                        </div>
                        

                        <div class="text-center mt-2">
                            @using (Html.BeginForm("UpdateHomeChartClinicOption", "Home", FormMethod.Post))
                            {
                                @Html.DropDownListFor(model => model.ClinicOptionString, Model.ClinicOptionsList, new { @class = "btn btn-light dropdown-toggle" });
                                <button id="Bili%ByClinic" class="btn btn-secondary" type="submit">Update</button>
                            }
                        </div>
                     </div>
                </div>
            </div>


        </div>

        <div class="row text-center py-4 my-3" style="background-color:#191570;">
            <div class="col-9 mx-auto">
                <h2 class="text-center display-5">Number of Tests Taken by Clinic</h2>

                <div>
                    <!-- BAR CHART -->
                    <canvas id="bigchart"></canvas>
                </div>

                <div class="text-center mt-2">
                    @using (Html.BeginForm("UpdateHomeChartTimeOption", "Home", FormMethod.Post))
                    {
                        @Html.DropDownListFor(model => model.TimeOptionString, Model.TimeOptionsList, new { @class = "btn btn-light dropdown-toggle" });
                        <button id="TestNumberByClinic" class="btn btn-secondary" type="submit">Update</button>
                    }
                </div>
            </div>
        </div>
    </div>
</body>

<script>
    // Set all chart font to white
    Chart.defaults.global.defaultFontColor = 'white';

    // Bilirubin Concentrations (%) per Clinic chart
    $.ajax({
        type: "POST",
        url: "/Home/GetClinicBilirubinLevelChart",
        contentType: "application/json; charset=utf-8",
        dataType: "json",
        success: function (chData) {
            var aData = chData;
            var aLabels = aData[0];
            var aDatasets1 = aData[1];
            var dataT = {
                labels: aLabels,
                datasets: [{
                    label: "Reported cases at " + aData[2],
                    data: aDatasets1,
                    fill: false,
                    backgroundColor: ["rgba(112, 44, 231, 0.5)", "rgba(144, 44, 199, 0.5)", "rgba(176, 44, 167, 0.5)", "rgba(208, 44, 135, 0.5)", "rgba(240, 44, 103, 0.5)"],
                    borderColor: ["rgba(112, 44, 231)", "rgba(144, 44, 199)", "rgba(176, 44, 167)", "rgba(208, 44, 135)", "rgba(240, 44, 103)"],
                    borderWidth: 2
                }]
            };
            var ctx = $("#myChart").get(0).getContext("2d");
            var myNewChart = new Chart(ctx, {
                type: 'bar',
                data: dataT,
                options: {
                    responsive: true,
                    maintainAspectRatio: false,
                    title: { display: false, text: 'CHART.JS DEMO CHART' },
                    legend: { display: false, position: 'bottom' },
                    scales: {
                        xAxes: [{ gridLines: { display: false }, display: true, scaleLabel: { display: true, labelString: aData[2], fontSize: 18 }, ticks: { fontSize: 18 } }],
                        yAxes: [{ gridLines: { display: false }, display: true, scaleLabel: { display: false, labelString: '' }, ticks: { beginAtZero: true, fontSize: 13 } }]
                    },
                }
            });
        }
    });

    // Number of Tests Taken by each Clinic chart
    $.ajax({
        type: "POST",
        url: "/Home/GetTestNumbersForAllClinicsChart",
        contentType: "application/json; charset=utf-8",
        dataType: "json",
        success: function (chData) {
            var aData = chData;
            var aLabels = aData[0];
            var aDatasets1 = aData[1];
            var dataT = {
                labels: aLabels,
                datasets: [{
                    label: aData[2],
                    data: aDatasets1,
                    fill: false,
                    borderColor: "#ffe4b2",
                    backgroundColor: "#ffe4b2",
                    pointBackgroundColor: "#ffe4b2",
                    pointBorderColor: "#ffe4b2",
                    pointHoverBackgroundColor: "#ffe4b2",
                    pointHoverBorderColor: "#ffe4b2",
                    borderWidth: 4
                },
                {
                    label: aData[5],
                    data: aData[4],
                    fill: false,
                    borderColor: "#ffc966",
                    backgroundColor: "#ffc966",
                    pointBackgroundColor: "#ffc966",
                    pointBorderColor: "#ffc966",
                    pointHoverBackgroundColor: "#ffc966",
                    pointHoverBorderColor: "#ffc966",
                    borderWidth: 4
                },
                {
                    label: aData[8],
                    data: aData[7],
                    fill: false,
                    borderColor: "#ffa500",
                    backgroundColor: "#ffa500",
                    pointBackgroundColor: "#ffa500",
                    pointBorderColor: "#ffa500",
                    pointHoverBackgroundColor: "#ffa500",
                    pointHoverBorderColor: "#ffa500",
                    borderWidth: 4
                },
                {
                    label: aData[11],
                    data: aData[10],
                    fill: false,
                    borderColor: "#cc8400",
                    backgroundColor: "#cc8400",
                    pointBackgroundColor: "#cc8400",
                    pointBorderColor: "#cc8400",
                    pointHoverBackgroundColor: "#cc8400",
                    pointHoverBorderColor: "#cc8400",
                    borderWidth: 4
                },
                {
                    label: aData[14],
                    data: aData[13],
                    fill: false,
                    borderColor: "#996300",
                    backgroundColor: "#996300",
                    pointBackgroundColor: "#996300",
                    pointBorderColor: "#996300",
                    pointHoverBackgroundColor: "#996300",
                    pointHoverBorderColor: "#996300",
                    borderWidth: 4
                }]
            };
            var ctx = $("#bigchart").get(0).getContext("2d");
            var myNewChart = new Chart(ctx, {
                type: 'line',
                data: dataT,
                options: {
                    responsive: true,
                    title: { display: false, text: 'CHART.JS DEMO CHART' },
                    legend: {
                        display: true, position: 'bottom', labels: { fontSize: 18 }
                    },
                    scales: {
                        xAxes: [{ gridLines: { display: false }, display: true, scaleLabel: { display: true, labelString: '' }, ticks: { fontSize: 18 } }],
                        yAxes: [{ gridLines: { display: false }, display: true, scaleLabel: { display: false, labelString: '' }, ticks: { beginAtZero: true, fontSize: 15 } }]
                    },
                }
            });
        }
    });
</script>



