
@{
    ViewBag.Title = "Photos";
}
    
 
    <div class="row">
        <div class="col text-center">
            <div class="col-md-5 p-1 mx-auto my-3">
                <h2 class="display-6 font-weight-normal">Photos</h2>
            </div>
        </div>
    </div>

<div class="row">
    <div class="col-6">
        <div class="row">
            <h6 class="text-center">Photos Taken Over Time</h6>
            <img src="/Home/GetPhotosTakenByTimeChart" class="img-fluid rounded" />

        </div>

        <div class="row">
            <h6 class="text-center">Successful vs Failed Photos</h6>
            <img src="/Home/GetSuccessfulFailedPhotosTaken" class="img-fluid rounded" />
        </div>
    </div>

    <div class="col-6">
        <h4>Failed Photo Gallery</h4>
        <div class="table-responsive">
            <table class="table table-bordered">
                <thead>
                    <tr>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <a data-target="#modalIMG" data-toggle="modal" href="~/Content/Images/placeholder2.jpg" class="color-gray-darker td-hover-none">
                                <div class="ba-0 tp-s">
                                    <img alt="Placeholder" class="card-img-top" height="200" width="200" src="~/Content/Images/placeholder2.jpg">
                                </div>
                            </a>
                            <div aria-hidden="true" aria-labelledby="myModalLabel" class="modal fade" id="modalIMG" role="dialog" tabindex="-1">
                                <div class="modal-dialog modal-lg" role="document">
                                    <div class="modal-content">
                                        <div class="modal-body mb-0 p-0">
                                            <img src="~/Content/Images/placeholder2.jpg" alt="" style="width:100%">
                                        </div>
                                        <div class="modal-footer">
                                            
                                            <button class="btn btn-outline-primary btn-rounded btn-md ml-4 text-center" data-dismiss="modal" type="button">Close</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </td>
                        <td><img src="~/Content/Images/placeholder.png" class="img-thumbnail" /></td>
                        <td><img src="~/Content/Images/placeholder.png" class="img-thumbnail" /></td>
                    </tr>
                    <tr>
                        <td><img src="~/Content/Images/placeholder.png" class="img-thumbnail" /></td>
                        <td><img src="~/Content/Images/placeholder.png" class="img-thumbnail" /></td>
                        <td><img src="~/Content/Images/placeholder.png" class="img-thumbnail" /></td>
                    </tr>
                    <tr>
                        <td><img src="~/Content/Images/placeholder.png" class="img-thumbnail" /></td>
                        <td><img src="~/Content/Images/placeholder.png" class="img-thumbnail" /></td>
                        <td><img src="~/Content/Images/placeholder.png" class="img-thumbnail" /></td>
                    </tr>
                    <tr>
                        <td><img src="~/Content/Images/placeholder.png" class="img-thumbnail" /></td>
                        <td><img src="~/Content/Images/placeholder.png" class="img-thumbnail" /></td>
                        <td><img src="~/Content/Images/placeholder.png" class="img-thumbnail" /></td>
                    </tr>
                    <tr>
                        <td><img src="~/Content/Images/placeholder.png" class="img-thumbnail" /></td>
                        <td><img src="~/Content/Images/placeholder.png" class="img-thumbnail" /></td>
                        <td><img src="~/Content/Images/placeholder.png" class="img-thumbnail" /></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>