
@{
    ViewBag.Title = "Photos";
}
    
<div class="row">
    <h2>Photos</h2>
</div>

<div class="row">
    <div class="col-6">
        <div class="row">
            <h6 class="text-center">Photos Taken Over Time</h6>
            <img src="/Home/GetPhotosTakenByTimeChart" class="img-fluid rounded" />

        </div>

        <div class="row">
            <h6 class="text-center">Successful vs Failed Photos</h6>
            <img src="/Home/GetSuccessfulFailedPhotosTaken" class="img-fluid rounded" />
        </div>
    </div>

    <div class="col-6">
        <h4>Failed Photo Gallery</h4>
        <div class="table-responsive">
            <table class="table table-bordered">
                <thead>
                    <tr>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><img src="~/Content/Images/placeholder.png" class="img-thumbnail" /></td>
                        <td><img src="~/Content/Images/placeholder.png" class="img-thumbnail" /></td>
                        <td><img src="~/Content/Images/placeholder.png" class="img-thumbnail" /></td>
                    </tr>
                    <tr>
                        <td><img src="~/Content/Images/placeholder.png" class="img-thumbnail" /></td>
                        <td><img src="~/Content/Images/placeholder.png" class="img-thumbnail" /></td>
                        <td><img src="~/Content/Images/placeholder.png" class="img-thumbnail" /></td>
                    </tr>
                    <tr>
                        <td><img src="~/Content/Images/placeholder.png" class="img-thumbnail" /></td>
                        <td><img src="~/Content/Images/placeholder.png" class="img-thumbnail" /></td>
                        <td><img src="~/Content/Images/placeholder.png" class="img-thumbnail" /></td>
                    </tr>
                    <tr>
                        <td><img src="~/Content/Images/placeholder.png" class="img-thumbnail" /></td>
                        <td><img src="~/Content/Images/placeholder.png" class="img-thumbnail" /></td>
                        <td><img src="~/Content/Images/placeholder.png" class="img-thumbnail" /></td>
                    </tr>
                    <tr>
                        <td><img src="~/Content/Images/placeholder.png" class="img-thumbnail" /></td>
                        <td><img src="~/Content/Images/placeholder.png" class="img-thumbnail" /></td>
                        <td><img src="~/Content/Images/placeholder.png" class="img-thumbnail" /></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>