
@{
    ViewBag.Title = "Photos";
}

<div class="row">
    <h2>Photos</h2>
</div>

<div class="row">
    <div class="col">
        <img src="~/Content/Images/photos1.png" />
    </div>

    <div class="col">
        <img src="~/Content/Images/photos2.png" />
    </div>
</div>
