
@{
    ViewBag.Title = "Photos";
}
    
<div class="row">
    <h2>Photos</h2>
</div>

<div class="row">
    <div class="col-6">
        <h6 class="text-center">Photos Taken Over Time</h6>
        <img src="/Home/GetPhotosTakenByTimeChart" class="img-fluid rounded" />
    </div>
    <div class="col">
        <img src="~/Content/Images/photos2.png" />
    </div>
 </div>

<div class="row">
    <div class="col-6">
        <h6 class="text-center">Successful vs Failed Photos</h6>
        <img src="/Home/GetSuccessfulFailedPhotosTaken" class="img-fluid rounded" />
        
    </div>
</div>
