@using JaunDetect.Models;
@model QueryResultViewModel

@{
    /**/

    ViewBag.Title = "QueryResults";
   
}

<div class=" container">
    <div class="row">
       @Html.TextBox("Table", @Model.Dt)
    </div>
</div>
