
@{
    ViewBag.Title = "Settings";
}

<br />
<h2>Settings</h2>


<form>
    <div class="custom-control custom-switch">
        <input type="checkbox" class="custom-control-input" id="switch1">
        <label class="custom-control-label" for="switch1">Demo Mode</label>
    </div>
</form>

<br />
<h4>Frequency of Monitoring</h4>

<div class="custom-control custom-radio">
    <input type="radio" class="custom-control-input" id="defaultGroupExample1" name="groupOfDefaultRadios">
    <label class="custom-control-label" for="defaultGroupExample1">Daily</label>
</div>
<div class="custom-control custom-radio">
    <input type="radio" class="custom-control-input" id="defaultGroupExample2" name="groupOfDefaultRadios" checked>
    <label class="custom-control-label" for="defaultGroupExample2">Weekly</label>
</div>
<div class="custom-control custom-radio">
    <input type="radio" class="custom-control-input" id="defaultGroupExample3" name="groupOfDefaultRadios">
    <label class="custom-control-label" for="defaultGroupExample3">Monthly</label>
</div>

