@{
    ViewBag.Title = "Usage Data";
}
<h1>@ViewBag.Title </h1>
<h3>@ViewBag.Message</h3>

<div>
    <h4>Current Users: @Model.CurrentUsers</h4>
</div>
<div class="container">
    <div class="row">
        <div class="col-6">
            <img src="/Home/GetCommonUsageTimesChart" />
        </div>
        <div class="col-6">
            <img src="/Home/GetDeviceModelsPieChart" />
        </div>
    </div>

    <div class="row">
        <div class="col-6">
            <img src="/Home/GetDownloadsPerMonthChart" />
        </div>
        <div class="col-6">
            <img src="/Home/GetLoginsPerMonthChart" />
        </div>
    </div>
</div>
