@{
    ViewBag.Title = "Usage Data";
}
<h1>@ViewBag.Title </h1>
<h3>@ViewBag.Message</h3>

<div>
    <h4>Current Users: @Model.CurrentUsers</h4>
</div>
<div>
    <img src="/Home/GetCommonUsageTimesChart" />
</div>
<div>
    <img src="/Home/GetDeviceModelsPieChart" />
</div>
<div>
    <img src="/Home/GetDownloadsPerMonthChart" />
</div>
<div>
    <img src="/Home/GetLoginsPerMonthChart" />
</div>

<p>Use this area to provide additional information.</p>
