@using JaunDetect.Models;
@model ResourcesChartModel

@{
    Layout = "~/Views/Shared/GuestAccountLayout.cshtml";
}

<!--Needed for new user onboarding tour-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-tour/0.11.0/js/bootstrap-tour-standalone.min.js"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-tour/0.11.0/css/bootstrap-tour-standalone.min.css" rel="stylesheet" />

<div class="position-relative overflow-hidden p-1 p-md-1 m-md-1 text-center">
    <h4 class="display-4" id="ResourcesTitle">Resources</h4>
</div>

<div class=" container">
    <div class="row">
        <div class="col-6">
            <img id="TestStripUsage" src="/Home/GetTestStripUsageChart" />
        </div>

        <div class="col-6">
            <img id="HospitalPatients" src="/Home/GetHospitalPatientChart" />
        </div>
        <div class="row">
            <div>
                <p id="Price">Current price of test strip:</p>
                @using (Html.BeginForm("UpdatePrice", "Home", FormMethod.Post))
                {
                    @Html.TextBoxFor(model => model.TestStripPrice)
                    <button type="submit">Update</button>
                }
            </div>
            <br />
            <div class="border border-dark rounded">
                <table>
                    <thead>
                        <tr>
                            <th scope="col">Clinic</th>
                            <th scope="col">Amount</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            if (Model.Clinics.Count() == Model.TestStripCosts.Count())
                            {
                                for (int i = 0; i < Model.Clinics.Count(); i++)
                                {
                                    <tr>
                                        <td>@Model.Clinics[i]</td>
                                        <td>$@Model.TestStripCosts[i]</td>
                                    </tr>
                                }
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>

<script type="text/javascript">
    var tour = new Tour({
        steps: [
            {
                element: "#ResourcesTitle",
                title: "Welcome to the Resources tab!",
                content: "Here you'll find reports regarding budgeting and clinic resources."
            },
            {
                element: "#TestStripUsage",
                title: "Test strip usage by clinic",
                content: "Here you'll see the amount of test strips that each clinic users per month"
            },
            {
                element: "#HospitalPatients",
                title: "Hospital patients coming from each clinic",
                content: "JaunDetect gives you an idea about how many patients will need hospital attention from each clinic by looking at such data from previous months"
            },
            {
                element: "#Price",
                title: "Calculate costs per clinic",
                content: "You can prepare for test strip price changes by calculating how the total cost of test strips for a clinic changes based on their price."
            }
        ]
    });

    // Initialize the tour
    tour.init();

    // Start the tour -- restart allows it to start every time the page is navigated to
    tour.restart();

</script>
