@using JaunDetect.Models;
@using Newtonsoft.Json;
@model HomeChartModel
@{
    ViewBag.Title = "Home Page";
}
@{
    Layout = "~/Views/Shared/GuestAccountLayout.cshtml";
}

<!--GUEST HOME-->
<!--Needed for new user onboarding tour-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-tour/0.11.0/js/bootstrap-tour-standalone.min.js"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-tour/0.11.0/css/bootstrap-tour-standalone.min.css" rel="stylesheet" />

<!--Needed for interactive charts-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.min.js" type="text/javascript"></script>
<script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>

<body style="background-color: #23206B">
    <div class="text-light">
        <div class="text-center row my-3" style="background-color:#03012C;">
            <div class="col-md-5 p-1 mx-auto my-5 no-gutters">
                <h1 id="TitleHeader" class="display-4 font-weight-normal">Welcome to <img src="~/Content/Images/logo large.png" style=" width: 70%" /></h1>

            </div>
            <div class="product-device box-shadow d-none d-md-block"></div>
            <div class="product-device product-device-2 box-shadow d-none d-md-block"></div>
        </div>

        <div class="row text-center py-4 my-3" style="background-color:#070342;">
            <div class="col">
                <div class="row mx-auto">
                    <div class="col">
                        <h2 class="display-5 text-center">Bilirubin Concentration Data by Clinic</h2>
                        <br />
                    </div>
                </div>



                <!-- This row shows up oddly on a 1440p monitor -->
                <div class="row">
                    <div class="col-7 mx-3">
                        <img id="HeatMap" src="~/Content/Images/heatmap mediumwide.jpg" class="img-fluid rounded" alt="Responsive image" />
                    </div>

                    <div class="col-4 d-flex flex-column">
                        <!--<h2 class="text-center display-5">Bilirubin Concentrations (%) per Clinic</h2>-->

                        <div id="Concentrations" class="flex-grow-1">
                            <canvas id="myChart"></canvas>
                        </div>


                        <div class="text-center mt-2">
                            @using (Html.BeginForm("UpdateHomeChartClinicOption", "Home", FormMethod.Post))
                            {
                                @Html.DropDownListFor(model => model.ClinicOptionString, Model.ClinicOptionsList, new { @class = "btn btn-light dropdown-toggle" });
                                <button id="Bili%ByClinic" class="btn btn-outline-light" type="submit">Update</button>
                            }
                        </div>
                    </div>
                </div>
            </div>


        </div>

        <div class="row text-center py-4 my-3" style="background-color:#191570;">
            <div class="col-9 mx-auto">
                <h2 class="text-center display-5">Number of Tests Taken by Clinic</h2>

                <div>
                    <!-- BAR CHART -->
                    <canvas id="bigchart"></canvas>
                </div>

                <div class="text-center mt-2">
                    @using (Html.BeginForm("UpdateHomeChartTimeOption", "Home", FormMethod.Post))
                    {
                        @Html.DropDownListFor(model => model.TimeOptionString, Model.TimeOptionsList, new { @class = "btn btn-light dropdown-toggle" });
                        <button id="TestNumberByClinic" class="btn btn-outline-light" type="submit">Update</button>
                    }
                </div>
            </div>
        </div>
    </div>
</body>

<!--Interactive charts-->
<script>
    // Set all chart font to white
    Chart.defaults.global.defaultFontColor = 'white';

    // Bilirubin Concentrations (%) per Clinic chart
    $.ajax({
        type: "POST",
        url: "/Home/GetClinicBilirubinLevelChart",
        contentType: "application/json; charset=utf-8",
        dataType: "json",
        success: function (chData) {
            var aData = chData;
            var aLabels = aData[0];
            var aDatasets1 = aData[1];
            var dataT = {
                labels: aLabels,
                datasets: [{
                    label: "Reported cases at " + aData[2],
                    data: aDatasets1,
                    fill: false,
                    backgroundColor: ["rgba(176, 44, 167, 0.5)", "rgba(250, 44, 75, 0.5)", "rgba(255, 44, 20, 0.5)", "rgba(255, 136, 0, 0.5)", "rgba(255, 216, 25, 0.5)"],
                    borderColor: ["rgba(176, 44, 167)", "rgba(250, 44, 75)", "rgba(255, 44, 20)", "rgba(255, 136, 0)", "rgba(255, 216, 25)"],
                    borderWidth: 2
                }]
            };
            var ctx = $("#myChart").get(0).getContext("2d");
            var myNewChart = new Chart(ctx, {
                type: 'bar',
                data: dataT,
                options: {
                    responsive: true,
                    maintainAspectRatio: false,
                    title: { display: false, text: 'CHART.JS DEMO CHART' },
                    legend: { display: false, position: 'bottom' },
                    scales: {
                        xAxes: [{ gridLines: { display: false }, display: true, scaleLabel: { display: true, labelString: aData[2], fontSize: 18 }, ticks: { fontSize: 18 } }],
                        yAxes: [{ gridLines: { display: false }, display: true, scaleLabel: { display: false, labelString: '' }, ticks: { beginAtZero: true, fontSize: 13 } }]
                    },
                }
            });
        }
    });

    // Number of Tests Taken by each Clinic chart
    $.ajax({
        type: "POST",
        url: "/Home/GetTestNumbersForAllClinicsChart",
        contentType: "application/json; charset=utf-8",
        dataType: "json",
        success: function (chData) {
            var aData = chData;
            var aLabels = aData[0];
            var aDatasets1 = aData[1];
            var dataT = {
                labels: aLabels,
                datasets: [{
                    label: aData[2],
                    data: aDatasets1,
                    fill: false,
                    borderColor: "#D02C87",
                    backgroundColor: "#D02C87",
                    pointBackgroundColor: "#D02C87",
                    pointBorderColor: "#D02C87",
                    pointHoverBackgroundColor: "#D02C87",
                    pointHoverBorderColor: "#D02C87",
                    borderWidth: 4
                },
                {
                    label: aData[5],
                    data: aData[4],
                    fill: false,
                    borderColor: "#FF2C32",
                    backgroundColor: "#FF2C32",
                    pointBackgroundColor: "#FF2C32",
                    pointBorderColor: "#FF2C32",
                    pointHoverBackgroundColor: "#FF2C32",
                    pointHoverBorderColor: "#FF2C32",
                    borderWidth: 4
                },
                {
                    label: aData[8],
                    data: aData[7],
                    fill: false,
                    borderColor: "#FF5000",
                    backgroundColor: "#FF5000",
                    pointBackgroundColor: "#FF5000",
                    pointBorderColor: "#FF5000",
                    pointHoverBackgroundColor: "#FF5000",
                    pointHoverBorderColor: "#FF5000",
                    borderWidth: 4
                },
                {
                    label: aData[11],
                    data: aData[10],
                    fill: false,
                    borderColor: "#FF8800",
                    backgroundColor: "#FF8800",
                    pointBackgroundColor: "#FF8800",
                    pointBorderColor: "#FF8800",
                    pointHoverBackgroundColor: "#FF8800",
                    pointHoverBorderColor: "#FF8800",
                    borderWidth: 4
                },
                {
                    label: aData[14],
                    data: aData[13],
                    fill: false,
                    borderColor: "#FFD819",
                    backgroundColor: "#FFD819",
                    pointBackgroundColor: "#FFD819",
                    pointBorderColor: "#FFD819",
                    pointHoverBackgroundColor: "#FFD819",
                    pointHoverBorderColor: "#FFD819",
                    borderWidth: 4
                }]
            };
            var ctx = $("#bigchart").get(0).getContext("2d");
            var myNewChart = new Chart(ctx, {
                type: 'line',
                data: dataT,
                options: {
                    responsive: true,
                    title: { display: false, text: 'CHART.JS DEMO CHART' },
                    legend: {
                        display: true, position: 'bottom', labels: { fontSize: 18 }
                    },
                    scales: {
                        xAxes: [{ gridLines: { display: false }, display: true, scaleLabel: { display: true, labelString: '' }, ticks: { fontSize: 18 } }],
                        yAxes: [{ gridLines: { display: false }, display: true, scaleLabel: { display: false, labelString: '' }, ticks: { beginAtZero: true, fontSize: 15 } }]
                    },
                }
            });
        }
    });
</script>

<!--New user onboarding tour-->
<script type="text/javascript">
    var tour = new Tour({
        steps: [
            {
                element: "#TitleHeader",
                title: "Welcome to your JaunDetect Guest Account!",
                content: "Follow these quick and easy steps to get up to speed."
            },
            {
                element: "#HeatMap",
                title: "Bilirubin test results by location",
                content: "Here you'll see the concentrations of bilirubin in patients in terms of location. Darker spots mean more high-risk tests are being returned in that area."
            },
            {
                element: "#Concentrations",
                title: "Concentrations of Bilirubin for each clinic",
                content: "Here you'll see the breakdown of bilirubin concentrations of patients at each clinic.",
                placement: 'left'
            },
            {
                element: "#bigchart",
                title: "Bilirubin test results over time",
                content: "JaunDetect lets you track the amount of bilirubin tests over time and compare them by clinic. Change the timeframe in the dropdown to see the data over different periods of time."
            }

        ]
    });

    // Initialize the tour
    tour.init();

    // Start the tour -- restart allows it to start every time the page is navigated to
    tour.restart();

</script>

