@using JaunDetect.Models;
@model QueryViewModel

@{
    ViewBag.Title = "ChartView";
    
}

<div class="row mt-5">
    <div class="col">
        <img src="/Chart/GetLineChart" class="img-fluid rounded" alt="Responsive image" />
    </div>
</div>



