@using JaunDetect.Models;
@model QueryViewModel

@{
    ViewBag.Title = "ChartView";

}

<!--For Chart.js charts-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.min.js" type="text/javascript"></script>
<script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>

@{
    if (Model.VisualizationChoice == 1)
    {
        <div class="row mt-5">
            <div class="col">
                <canvas id="TestNumLine"></canvas>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col">
                <canvas id="DeviceLine"></canvas>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col">
                <canvas id="BiliLine"></canvas>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col">
                <canvas id="OSLine"></canvas>
            </div>
        </div>
    }
    else if (Model.VisualizationChoice == 2)
    {
        <div class="row mt-3">
            <div class="col">
                <canvas id="DeviceBar"></canvas>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col">
                <canvas id="BiliBar"></canvas>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col">
                <canvas id="OSBar"></canvas>
            </div>
        </div>
    }
    else
    {
        <div class="row mt-3">
            <div class="col">
                <canvas id="DevicePie"></canvas>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col">
                <canvas id="BiliPie"></canvas>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col">
                <canvas id="OSPie"></canvas>
            </div>
        </div>
    }
}

<script>
    // Number of test line chart
    $.ajax({
        type: "POST",
        url: "/Chart/GetTestsPerDateChart",
        contentType: "application/json; charset=utf-8",
        dataType: "json",
        success: function (chData) {
            var aData = chData;
            var aLabels = aData[0];
            var aDatasets1 = aData[1];
            var dataT = {
                labels: aLabels,
                datasets: [{
                    label: "Test strips used",
                    data: aDatasets1,
                    fill: false,
                    backgroundColor: ["rgba(112, 44, 231, 0.5)", "rgba(144, 44, 199, 0.5)", "rgba(176, 44, 167, 0.5)", "rgba(208, 44, 135, 0.5)", "rgba(240, 44, 103, 0.5)"],
                    borderColor: ["rgba(112, 44, 231)", "rgba(144, 44, 199)", "rgba(176, 44, 167)", "rgba(208, 44, 135)", "rgba(240, 44, 103)"],
                    borderWidth: 2
                }]
            };
            var ctx = $("#TestNumLine").get(0).getContext("2d");

            //Chart.defaults.global.defaultFontColor = 'white';

            var myNewChart = new Chart(ctx, {
                type: 'line',
                data: dataT,
                options: {
                    responsive: true,
                    maintainAspectRatio: false,
                    title: { display: false, text: 'CHART.JS DEMO CHART' },
                    legend: { display: false, position: 'bottom' },
                    scales: {
                        xAxes: [{ gridLines: { display: false }, display: true, scaleLabel: { display: true, labelString: '', } }],
                        yAxes: [{ gridLines: { display: false }, display: true, scaleLabel: { display: false, labelString: '' }, ticks: { beginAtZero: true, fontSize: 13 } }]
                    },
                }
            });
        }
    });

    // Devices line chart
    $.ajax({
        type: "POST",
        url: "/Chart/GetDeviceChart",
        contentType: "application/json; charset=utf-8",
        dataType: "json",
        success: function (chData) {
            var aData = chData;
            var aLabels = aData[0];
            var aDatasets1 = aData[1];
            var dataT = {
                labels: aLabels,
                datasets: [{
                    label: "Test strips used",
                    data: aDatasets1,
                    fill: false,
                    backgroundColor: ["rgba(112, 44, 231, 0.5)", "rgba(144, 44, 199, 0.5)", "rgba(176, 44, 167, 0.5)", "rgba(208, 44, 135, 0.5)", "rgba(240, 44, 103, 0.5)"],
                    borderColor: ["rgba(112, 44, 231)", "rgba(144, 44, 199)", "rgba(176, 44, 167)", "rgba(208, 44, 135)", "rgba(240, 44, 103)"],
                    borderWidth: 2
                }]
            };
            var ctx = $("#DeviceLine").get(0).getContext("2d");

            //Chart.defaults.global.defaultFontColor = 'white';

            var myNewChart = new Chart(ctx, {
                type: 'line',
                data: dataT,
                options: {
                    responsive: true,
                    maintainAspectRatio: false,
                    title: { display: false, text: 'CHART.JS DEMO CHART' },
                    legend: { display: false, position: 'bottom' },
                    scales: {
                        xAxes: [{ gridLines: { display: false }, display: true, scaleLabel: { display: true, labelString: '', } }],
                        yAxes: [{ gridLines: { display: false }, display: true, scaleLabel: { display: false, labelString: '' }, ticks: { beginAtZero: true, fontSize: 13 } }]
                    },
                }
            });
        }
    });

    // Bili line chart
    $.ajax({
        type: "POST",
        url: "/Chart/GetBilirubinChart",
        contentType: "application/json; charset=utf-8",
        dataType: "json",
        success: function (chData) {
            var aData = chData;
            var aLabels = aData[0];
            var aDatasets1 = aData[1];
            var dataT = {
                labels: aLabels,
                datasets: [{
                    label: "Test strips used",
                    data: aDatasets1,
                    fill: false,
                    backgroundColor: ["rgba(112, 44, 231, 0.5)", "rgba(144, 44, 199, 0.5)", "rgba(176, 44, 167, 0.5)", "rgba(208, 44, 135, 0.5)", "rgba(240, 44, 103, 0.5)"],
                    borderColor: ["rgba(112, 44, 231)", "rgba(144, 44, 199)", "rgba(176, 44, 167)", "rgba(208, 44, 135)", "rgba(240, 44, 103)"],
                    borderWidth: 2
                }]
            };
            var ctx = $("#BiliLine").get(0).getContext("2d");

            //Chart.defaults.global.defaultFontColor = 'white';

            var myNewChart = new Chart(ctx, {
                type: 'line',
                data: dataT,
                options: {
                    responsive: true,
                    maintainAspectRatio: false,
                    title: { display: false, text: 'CHART.JS DEMO CHART' },
                    legend: { display: false, position: 'bottom' },
                    scales: {
                        xAxes: [{ gridLines: { display: false }, display: true, scaleLabel: { display: true, labelString: '', } }],
                        yAxes: [{ gridLines: { display: false }, display: true, scaleLabel: { display: false, labelString: '' }, ticks: { beginAtZero: true, fontSize: 13 } }]
                    },
                }
            });
        }
    });

    // OS line chart
    $.ajax({
        type: "POST",
        url: "/Chart/GetOSChart",
        contentType: "application/json; charset=utf-8",
        dataType: "json",
        success: function (chData) {
            var aData = chData;
            var aLabels = aData[0];
            var aDatasets1 = aData[1];
            var dataT = {
                labels: aLabels,
                datasets: [{
                    label: "Test strips used",
                    data: aDatasets1,
                    fill: false,
                    backgroundColor: ["rgba(112, 44, 231, 0.5)", "rgba(144, 44, 199, 0.5)", "rgba(176, 44, 167, 0.5)", "rgba(208, 44, 135, 0.5)", "rgba(240, 44, 103, 0.5)"],
                    borderColor: ["rgba(112, 44, 231)", "rgba(144, 44, 199)", "rgba(176, 44, 167)", "rgba(208, 44, 135)", "rgba(240, 44, 103)"],
                    borderWidth: 2
                }]
            };
            var ctx = $("#OSLine").get(0).getContext("2d");

            //Chart.defaults.global.defaultFontColor = 'white';

            var myNewChart = new Chart(ctx, {
                type: 'line',
                data: dataT,
                options: {
                    responsive: true,
                    maintainAspectRatio: false,
                    title: { display: false, text: 'CHART.JS DEMO CHART' },
                    legend: { display: false, position: 'bottom' },
                    scales: {
                        xAxes: [{ gridLines: { display: false }, display: true, scaleLabel: { display: true, labelString: '', } }],
                        yAxes: [{ gridLines: { display: false }, display: true, scaleLabel: { display: false, labelString: '' }, ticks: { beginAtZero: true, fontSize: 13 } }]
                    },
                }
            });
        }
    });


    // Number of test bar chart
    $.ajax({
        type: "POST",
        url: "/Chart/GetTestsPerDateChart",
        contentType: "application/json; charset=utf-8",
        dataType: "json",
        success: function (chData) {
            var aData = chData;
            var aLabels = aData[0];
            var aDatasets1 = aData[1];
            var dataT = {
                labels: aLabels,
                datasets: [{
                    label: "Test strips used",
                    data: aDatasets1,
                    fill: false,
                    backgroundColor: ["rgba(112, 44, 231, 0.5)", "rgba(144, 44, 199, 0.5)", "rgba(176, 44, 167, 0.5)", "rgba(208, 44, 135, 0.5)", "rgba(240, 44, 103, 0.5)"],
                    borderColor: ["rgba(112, 44, 231)", "rgba(144, 44, 199)", "rgba(176, 44, 167)", "rgba(208, 44, 135)", "rgba(240, 44, 103)"],
                    borderWidth: 2
                }]
            };
            var ctx = $("#TestNumBar").get(0).getContext("2d");

            //Chart.defaults.global.defaultFontColor = 'white';

            var myNewChart = new Chart(ctx, {
                type: 'bar',
                data: dataT,
                options: {
                    responsive: true,
                    maintainAspectRatio: false,
                    title: { display: false, text: 'CHART.JS DEMO CHART' },
                    legend: { display: false, position: 'bottom' },
                    scales: {
                        xAxes: [{ gridLines: { display: false }, display: true, scaleLabel: { display: true, labelString: '', } }],
                        yAxes: [{ gridLines: { display: false }, display: true, scaleLabel: { display: false, labelString: '' }, ticks: { beginAtZero: true, fontSize: 13 } }]
                    },
                }
            });
        }
    });

    // Devices bar chart
    $.ajax({
        type: "POST",
        url: "/Chart/GetDeviceChart",
        contentType: "application/json; charset=utf-8",
        dataType: "json",
        success: function (chData) {
            var aData = chData;
            var aLabels = aData[0];
            var aDatasets1 = aData[1];
            var dataT = {
                labels: aLabels,
                datasets: [{
                    label: "Test strips used",
                    data: aDatasets1,
                    fill: false,
                    backgroundColor: ["rgba(112, 44, 231, 0.5)", "rgba(144, 44, 199, 0.5)", "rgba(176, 44, 167, 0.5)", "rgba(208, 44, 135, 0.5)", "rgba(240, 44, 103, 0.5)"],
                    borderColor: ["rgba(112, 44, 231)", "rgba(144, 44, 199)", "rgba(176, 44, 167)", "rgba(208, 44, 135)", "rgba(240, 44, 103)"],
                    borderWidth: 2
                }]
            };
            var ctx = $("#DeviceBar").get(0).getContext("2d");

            //Chart.defaults.global.defaultFontColor = 'white';

            var myNewChart = new Chart(ctx, {
                type: 'bar',
                data: dataT,
                options: {
                    responsive: true,
                    maintainAspectRatio: false,
                    title: { display: false, text: 'CHART.JS DEMO CHART' },
                    legend: { display: false, position: 'bottom' },
                    scales: {
                        xAxes: [{ gridLines: { display: false }, display: true, scaleLabel: { display: true, labelString: '', } }],
                        yAxes: [{ gridLines: { display: false }, display: true, scaleLabel: { display: false, labelString: '' }, ticks: { beginAtZero: true, fontSize: 13 } }]
                    },
                }
            });
        }
    });

    // Bili bar chart
    $.ajax({
        type: "POST",
        url: "/Chart/GetBilirubinChart",
        contentType: "application/json; charset=utf-8",
        dataType: "json",
        success: function (chData) {
            var aData = chData;
            var aLabels = aData[0];
            var aDatasets1 = aData[1];
            var dataT = {
                labels: aLabels,
                datasets: [{
                    label: "Test strips used",
                    data: aDatasets1,
                    fill: false,
                    backgroundColor: ["rgba(112, 44, 231, 0.5)", "rgba(144, 44, 199, 0.5)", "rgba(176, 44, 167, 0.5)", "rgba(208, 44, 135, 0.5)", "rgba(240, 44, 103, 0.5)"],
                    borderColor: ["rgba(112, 44, 231)", "rgba(144, 44, 199)", "rgba(176, 44, 167)", "rgba(208, 44, 135)", "rgba(240, 44, 103)"],
                    borderWidth: 2
                }]
            };
            var ctx = $("#BiliBar").get(0).getContext("2d");

            //Chart.defaults.global.defaultFontColor = 'white';

            var myNewChart = new Chart(ctx, {
                type: 'bar',
                data: dataT,
                options: {
                    responsive: true,
                    maintainAspectRatio: false,
                    title: { display: false, text: 'CHART.JS DEMO CHART' },
                    legend: { display: false, position: 'bottom' },
                    scales: {
                        xAxes: [{ gridLines: { display: false }, display: true, scaleLabel: { display: true, labelString: '', } }],
                        yAxes: [{ gridLines: { display: false }, display: true, scaleLabel: { display: false, labelString: '' }, ticks: { beginAtZero: true, fontSize: 13 } }]
                    },
                }
            });
        }
    });

    // OS bar chart
    $.ajax({
        type: "POST",
        url: "/Chart/GetOSChart",
        contentType: "application/json; charset=utf-8",
        dataType: "json",
        success: function (chData) {
            var aData = chData;
            var aLabels = aData[0];
            var aDatasets1 = aData[1];
            var dataT = {
                labels: aLabels,
                datasets: [{
                    label: "Test strips used",
                    data: aDatasets1,
                    fill: false,
                    backgroundColor: ["rgba(112, 44, 231, 0.5)", "rgba(144, 44, 199, 0.5)", "rgba(176, 44, 167, 0.5)", "rgba(208, 44, 135, 0.5)", "rgba(240, 44, 103, 0.5)"],
                    borderColor: ["rgba(112, 44, 231)", "rgba(144, 44, 199)", "rgba(176, 44, 167)", "rgba(208, 44, 135)", "rgba(240, 44, 103)"],
                    borderWidth: 2
                }]
            };
            var ctx = $("#OSBar").get(0).getContext("2d");

            //Chart.defaults.global.defaultFontColor = 'white';

            var myNewChart = new Chart(ctx, {
                type: 'bar',
                data: dataT,
                options: {
                    responsive: true,
                    maintainAspectRatio: false,
                    title: { display: false, text: 'CHART.JS DEMO CHART' },
                    legend: { display: false, position: 'bottom' },
                    scales: {
                        xAxes: [{ gridLines: { display: false }, display: true, scaleLabel: { display: true, labelString: '', } }],
                        yAxes: [{ gridLines: { display: false }, display: true, scaleLabel: { display: false, labelString: '' }, ticks: { beginAtZero: true, fontSize: 13 } }]
                    },
                }
            });
        }
    });


    // Number of test pie chart
    $.ajax({
        type: "POST",
        url: "/Chart/GetTestsPerDateChart",
        contentType: "application/json; charset=utf-8",
        dataType: "json",
        success: function (chData) {
            var aData = chData;
            var aLabels = aData[0];
            var aDatasets1 = aData[1];
            var dataT = {
                labels: aLabels,
                datasets: [{
                    label: "Test strips used",
                    data: aDatasets1,
                    fill: false,
                    backgroundColor: ["rgba(112, 44, 231, 0.5)", "rgba(144, 44, 199, 0.5)", "rgba(176, 44, 167, 0.5)", "rgba(208, 44, 135, 0.5)", "rgba(240, 44, 103, 0.5)"],
                    borderColor: ["rgba(112, 44, 231)", "rgba(144, 44, 199)", "rgba(176, 44, 167)", "rgba(208, 44, 135)", "rgba(240, 44, 103)"],
                    borderWidth: 2
                }]
            };
            var ctx = $("#TestNumPie").get(0).getContext("2d");

            //Chart.defaults.global.defaultFontColor = 'white';

            var myNewChart = new Chart(ctx, {
                type: 'pie',
                data: dataT,
                options: {
                    responsive: true,
                    maintainAspectRatio: false,
                    title: { display: false, text: 'CHART.JS DEMO CHART' },
                    legend: { display: true, position: 'bottom' },
                    scales: {
                        xAxes: [{ gridLines: { display: false }, display: false, scaleLabel: { display: true, labelString: '', } }],
                        yAxes: [{ gridLines: { display: false }, display: false, scaleLabel: { display: false, labelString: '' }, ticks: { beginAtZero: true, fontSize: 13 } }]
                    },
                }
            });
        }
    });

    // Devices pie chart
    $.ajax({
        type: "POST",
        url: "/Chart/GetDeviceChart",
        contentType: "application/json; charset=utf-8",
        dataType: "json",
        success: function (chData) {
            var aData = chData;
            var aLabels = aData[0];
            var aDatasets1 = aData[1];
            var dataT = {
                labels: aLabels,
                datasets: [{
                    label: "Test strips used",
                    data: aDatasets1,
                    fill: false,
                    backgroundColor: ["rgba(112, 44, 231, 0.5)", "rgba(144, 44, 199, 0.5)", "rgba(176, 44, 167, 0.5)", "rgba(208, 44, 135, 0.5)", "rgba(240, 44, 103, 0.5)"],
                    borderColor: ["rgba(112, 44, 231)", "rgba(144, 44, 199)", "rgba(176, 44, 167)", "rgba(208, 44, 135)", "rgba(240, 44, 103)"],
                    borderWidth: 2
                }]
            };
            var ctx = $("#DevicePie").get(0).getContext("2d");

            //Chart.defaults.global.defaultFontColor = 'white';

            var myNewChart = new Chart(ctx, {
                type: 'pie',
                data: dataT,
                options: {
                    responsive: true,
                    maintainAspectRatio: false,
                    title: { display: false, text: 'CHART.JS DEMO CHART' },
                    legend: { display: true, position: 'bottom' },
                    scales: {
                        xAxes: [{ gridLines: { display: false }, display: false, scaleLabel: { display: true, labelString: '', } }],
                        yAxes: [{ gridLines: { display: false }, display: false, scaleLabel: { display: false, labelString: '' }, ticks: { beginAtZero: true, fontSize: 13 } }]
                    },
                }
            });
        }
    });

    // Bili bar chart
    $.ajax({
        type: "POST",
        url: "/Chart/GetBilirubinChart",
        contentType: "application/json; charset=utf-8",
        dataType: "json",
        success: function (chData) {
            var aData = chData;
            var aLabels = aData[0];
            var aDatasets1 = aData[1];
            var dataT = {
                labels: aLabels,
                datasets: [{
                    label: "Test strips used",
                    data: aDatasets1,
                    fill: false,
                    backgroundColor: ["rgba(112, 44, 231, 0.5)", "rgba(144, 44, 199, 0.5)", "rgba(176, 44, 167, 0.5)", "rgba(208, 44, 135, 0.5)", "rgba(240, 44, 103, 0.5)"],
                    borderColor: ["rgba(112, 44, 231)", "rgba(144, 44, 199)", "rgba(176, 44, 167)", "rgba(208, 44, 135)", "rgba(240, 44, 103)"],
                    borderWidth: 2
                }]
            };
            var ctx = $("#BiliPie").get(0).getContext("2d");

            //Chart.defaults.global.defaultFontColor = 'white';

            var myNewChart = new Chart(ctx, {
                type: 'pie',
                data: dataT,
                options: {
                    responsive: true,
                    maintainAspectRatio: false,
                    title: { display: false, text: 'CHART.JS DEMO CHART' },
                    legend: { display: true, position: 'bottom' },
                    scales: {
                        xAxes: [{ gridLines: { display: false }, display: false, scaleLabel: { display: true, labelString: '', } }],
                        yAxes: [{ gridLines: { display: false }, display: false, scaleLabel: { display: false, labelString: '' }, ticks: { beginAtZero: true, fontSize: 13 } }]
                    },
                }
            });
        }
    });

    // OS bar chart
    $.ajax({
        type: "POST",
        url: "/Chart/GetOSChart",
        contentType: "application/json; charset=utf-8",
        dataType: "json",
        success: function (chData) {
            var aData = chData;
            var aLabels = aData[0];
            var aDatasets1 = aData[1];
            var dataT = {
                labels: aLabels,
                datasets: [{
                    label: "Test strips used",
                    data: aDatasets1,
                    fill: false,
                    backgroundColor: ["rgba(112, 44, 231, 0.5)", "rgba(144, 44, 199, 0.5)", "rgba(176, 44, 167, 0.5)", "rgba(208, 44, 135, 0.5)", "rgba(240, 44, 103, 0.5)"],
                    borderColor: ["rgba(112, 44, 231)", "rgba(144, 44, 199)", "rgba(176, 44, 167)", "rgba(208, 44, 135)", "rgba(240, 44, 103)"],
                    borderWidth: 2
                }]
            };
            var ctx = $("#OSPie").get(0).getContext("2d");

            //Chart.defaults.global.defaultFontColor = 'white';

            var myNewChart = new Chart(ctx, {
                type: 'pie',
                data: dataT,
                options: {
                    responsive: true,
                    maintainAspectRatio: false,
                    title: { display: false, text: 'CHART.JS DEMO CHART' },
                    legend: { display: true, position: 'bottom' },
                    scales: {
                        xAxes: [{ gridLines: { display: false }, display: false, scaleLabel: { display: true, labelString: '', } }],
                        yAxes: [{ gridLines: { display: false }, display: false, scaleLabel: { display: false, labelString: '' }, ticks: { beginAtZero: true, fontSize: 13 } }]
                    },
                }
            });
        }
    });
</script>



